
<div class="row">
    <div class="col-md-3">
        &nbsp;
    </div>
    <div class="col-md-6">
        <p data-ng-hide="authentication.useRefreshTokens">Pour pouvoir actualiser votre session, il faut avoir cocher le boutton "Maintenir la connexion" lors de l'authentification.</p>
        <div data-ng-show="authentication.useRefreshTokens">
            <p>Cette fonctionnalité permet de rafraichir votre jeton de connexion.</p>
            <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="refreshToken()" data-ng-disabled="!authentication.userName && !authentication.useRefreshTokens">Actualiser la session</button>
        </div>
        <div data-ng-show="authentication.useRefreshTokens" style="margin-top:10px;">
            <div class="panel panel-success" data-ng-show="tokenRefreshed">
                <div class="panel-heading">
                    <h3 class="panel-title">Actualisation réussie</h3>
                </div>
                <div class="panel-body">
                    <p>Nouveau jeton de connexion: {{tokenResponse.access_token | limitTo : 30}}....</p>
                </div>
            </div>
           
        </div>

    </div>
    <div class="col-md-3">
        &nbsp;
    </div>
</div>