<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form name="signUpForm" class="form-login" role="form" novalidate ng-submit="signUpForm.$valid && signUp()">
            <h2 class="form-login-heading"><i class="fa fa-check-square-o"></i> Inscription</h2>
            <input type="text" class="form-control" placeholder="Nom d'utilisateur'" data-ng-model="registration.userName" required autofocus>
            <input type="password" class="form-control" placeholder="Mot de pass" data-ng-model="registration.password" required>
            <input type="password" class="form-control" placeholder="Confirmation du mot de pass" data-ng-model="registration.confirmPassword" required>
            <input type="email" class="form-control" placeholder="Email" data-ng-model="registration.email" required>
            <button class="btn btn-lg btn-info btn-block" id="inscriptionSubmit" type="submit">S'inscrire</button>
            <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                {{message}}
            </div>
        </form>
    </div>
</div>